/* #b50e12 */

@import url('/static/css/anton.css');

.text-primary {
    color: #b50e12 !important;
    /* font-weight: bold; */
}

.text-secondary {
    color: #e4d1ad !important;
    /* font-weight: bold; */
}

html, body {
    /* color: #e4d1ad; */
    color: white;
    
    background-size: auto;
    font-family: "Anton";
    height: 100%;
}

#bg-wrapper {
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    min-height:100%;
    height: auto !important;
    background: url(/static/images/background_stripes.png) no-repeat fixed center;
    position:relative;
}

.navbar-brand {
    text-align: center;
}
.navbar-brand img {
    width: 100%;
}

.btn-tab {
    padding: 0.75rem 1.5rem;
}

.btn-favorite, .btn-favorite:hover, .btn-favorite:focus {
    color: #b50e12;
}

.bg-dark {
    background-color: #070a0a !important;
}

.line-header {
    background: #3e3b32;
    /* font-weight: bold; */
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.line-header__text {
    background-color: #070a0a !important;
    border: solid 1px #070a0a;
    padding-right: 10px;
    color: #3e3b32 !important;
}

.app-header {
    background: #b50e12;
    padding: 7px;
    transform: rotate(-2deg);
    letter-spacing: 3px;
}

.app-header-sub {
    color: black;
    background: #e4d1ad;
    /* font-weight: bold; */
    font-size: small;
    padding: 7px;
    position: relative;
    top: -5px;
    width: 80%;
    left: 5px;
    transform: rotate(3deg);
}

.card-about {
    margin-top: 10px;
    border: solid #e4d1ad 1px;

}


#filter-input-group {
    width: 100%;
}

