/* #b50e12 */

@import url('https://fonts.googleapis.com/css?family=Anton');

.text-primary {
    color: #b50e12 !important;
    /* font-weight: bold; */
}

.text-secondary {
    color: #e4d1ad !important;
    /* font-weight: bold; */
}

body {
    color: #e4d1ad;
    background: url(/static/images/background.jpg) no-repeat fixed;
    background-size: auto;
    
    font-family: "Anton";

}

.btn-tab {
    padding: 0.75rem 1.5rem;
}

.btn-favorite, .btn-favorite:hover, .btn-favorite:focus {
    color: #b50e12;
}

.bg-dark {
    background-color: #070a0a !important;
}

.line-header {
    background: #3e3b32;
    /* font-weight: bold; */
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.line-header__text {
    background-color: #070a0a !important;
    border: solid 1px #070a0a;
    padding-right: 10px;
    color: #3e3b32 !important;
}

.app-header {
    background: #b50e12;
    padding: 7px;
    transform: rotate(-2deg);
    letter-spacing: 3px;
}

.app-header-sub {
    color: black;
    background: #e4d1ad;
    /* font-weight: bold; */
    font-size: small;
    padding: 7px;
    position: relative;
    top: -5px;
    width: 80%;
    left: 5px;
    transform: rotate(3deg);
}

.card-about {
    margin-top: 10px;
    border: solid #e4d1ad 1px;

}

