<!doctype html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/static/css/vendor/bootstrap.lux.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/all.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="apple-touch-icon" sizes="128x128" href="/static/images/192.png">

    <title>Suff Am Ring - Playlist</title>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <!-- <div class="app-header">Suff.Am.Ring
                <i class="fas fa-glass-cheers"></i></div>
            <div class="app-header-sub"> <i class="fas fa-guitar"></i>
                DIE.Playlist </div> -->
            <img src="/static/images/header.png" alt="">
        </a>
    </nav>
    <div id="bg-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="filter-form">
                    <!-- filled with mithril component -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" id="display-switch">
                    <!-- filled with mithril component -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="content">
                        <!-- filled with mithril component -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-about">
                        <div class="card-body bg-dark text-center">
                            with <i class="fa fa-heart"></i> &
                            <i class="fa fa-beer"></i> by jenko jóhannsson
                        </div>
                        <div class="card-footer bg-dark text-center" id="system-info">
                            <small>Build {{.Build}}</small> |
                            <i class="fa-sync fa" onclick="deleteCaches()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/underscore.min.js"></script>
    <script src="/static/js/vendor/mithril.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>